.Metronome {
    text-align: center;
    display: grid;

    grid-template-rows: 1fr 1fr 1.2fr;
}

.MetronomeSlider
{
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;

    margin: 10px auto;
}

.Metronome > button
{
    background-color: rgb(0, 153, 255) !important;
    color: white !important;

    height: 38px !important;
    width: 50% !important;
    margin: 12px auto !important;
}