.Renderer
{
    height: 100%;
    
    display: grid;

    /* 40 px because TopBar */
    grid-template-rows: calc(100% - 40px);

    margin: 50px auto;
}

.RendererWrapper
{
    width: 90vw;
    margin: 0 auto;
}

.Renderer .Swipeable
{
    height: 100%;
}

.Renderer .DocumentWrapper
{
    /* height: 100%; */
}

.Renderer .Document
{
    display: grid;
    justify-items: center;

    margin: 0 auto;

    grid-auto-flow: column;
}

.Renderer .Document > .Page
{
    opacity: 1;
    transition: 75ms;
}