.TopBar
{
    color: rgb(80, 80, 80);
    position: fixed;

    background-color: rgb(218, 218, 218);
    
    box-shadow: 1px 1px 10px gray;

    height: 40px;
    width: 100vw;
    z-index: 1;
}

.OpenFile
{
    float: left;
    margin-right: 10px;

   font-size: 10px;
}

.OpenFileButton
{
    /* float: left; */

    background-color: rgb(0, 153, 255);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;

    width: 100px;
    height: 30px;
    color: white;

    outline: none;
    border: none;

    box-shadow: 1px 1px 1px 1px gray;

    margin: 5px 10px;

    transition: 200ms;
}

.OpenFileButton:hover
{
    background-color: rgb(1, 127, 211);
    cursor: pointer;
}

.OpenFileButton:active
{
    background-color: rgb(3, 118, 196);
    box-shadow: -1px -1px 1px 1px gray;
}

.PageDisplayController
{
    float: right;
}

.PageController
{
    float: left;
    margin-left: 10px;
}

.PageController, .PageDisplayController
{
    display: grid;
    grid-template-columns: 1fr 1fr;

    text-align: center; 
}

.PageDisplayController form, .PageDisplayController form
{
    width: 40px;
    margin: 5px 0;
}

.PageController button
{
    font-size: 30px;

    border-radius: 5px;
    padding: 5px;
    /* border: none; */

    line-height: 1px;
}

.PageController input, .PageController > form > button
{
    float: right;
    margin: 5px 0;
}

.PageController input, .PageDisplayController input
{
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;

    width: 40px;

    border: none;

    box-shadow: 1px 1px 1px 1px gray;
}

::placeholder
{
    color: rgb(80, 80, 80);
}

.PageController p, .PageDisplayController p
{
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;

    border: none;
    height: calc(100% - 2 * 5px);

    margin: 0;

    text-align: left;

    margin: 5px 0;
}

.PageDisplayController p
{
    text-align: right;
}