.MenuButton
{
    float: left !important;

    border-radius: 5px;
    font-size: 16px;
    padding: 5px;

    height: 30px;
    color: white;

    outline: none;
    border: none;

    box-shadow: 1px 1px 1px 1px gray;

    margin: 5px 10px;

    float:left;
    transition: 100ms;

    background-color: rgb(233, 231, 231);
    width: 40px;
}

.MenuButton:hover
{
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

.MenuButton:active, .MenuButton.Open
{
    background-color: rgb(177, 177, 177);
    box-shadow: -1px -1px 1px 1px gray;
}

.MenuImg
{
    filter: brightness(100%);
    padding: 4px 0;
    margin: 0 auto;
    height: 60%;
}

.Menu
{
    margin-top: 6px;
    width: 20% !important;

    transition: 100ms;
    border-radius: 4px;
    box-shadow: 1px 5px 10px gray !important;
}

.Menu button
{
    color: rgb(80, 80, 80);

    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;

    width: 90%;
    height: 100%;

    outline: none;
    border: none;

    box-shadow: 1px 1px 1px 1px gray;

    margin: 10px;

    transition: 100ms;

    cursor: pointer
}

.Menu button:hover
{
    background-color: rgb(207, 207, 207);
    /* color: white; */
}

.Menu button:active
{
    background-color: rgb(177, 177, 177);
    box-shadow: -1px -1px 1px 1px gray;
    /* color: white; */
}

#ClearRecentButton
{
    background-color: rgb(194, 60, 60);
    color: white;

    width: 50%;
}

#ClearRecentButton:hover
{
    background-color: rgb(161, 51, 51);
}

#ClearRecentButton:active
{
    background-color: rgb(114, 34, 34);
    box-shadow: -1px -1px 1px 1px gray;
}

.Menu header
{
    margin: 10px;
    color: rgb(0, 153, 255);
}

.Line
{
    height: 1px;
    color: rgb(202, 202, 202);;
    background: rgb(202, 202, 202);

    margin: 30px auto;

    width: 70%;
}